.header {
    .header__nav {
        width: 100%;
        background: #333;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            padding: 0;
            justify-content: space-around;
            position: fixed;
            top: 0;
            transition: top 1s ease-in-out;
        }
    }
    .header__logo {
        color: #e98818;
        font-size: 1.5em;
        margin-left: 1em;
        cursor: pointer;
        padding: 1em 0;
        text-decoration: none;
        @include tablet {
            padding: 0;
        }
    }
    .header__menu {
        visibility: hidden;
        height: 0px;
        transition:height .8s ease;
        @include tablet {
            display: flex;
            visibility: visible;
            height: 100%;
            .menu__list {
                padding: 1em .8em;
                margin: 0 0;
                transition: padding .5s ease-in-out;
                cursor: pointer;
            }
            .menu__list:hover {
                background: #555;
                transition: background .3s ease-in-out;
            }
            .menu__item {
                padding: inherit;
                color: #e98818;
                text-decoration: none;
                font-size: 1.5em;
            }
        }
    }
}
.header__hamburger {
    border-top: 3px;
    border-style: solid;
    border-color: white;
    margin-right: 1em;
    padding: .5em 1.5em;
    position: relative;
    cursor: pointer;
    transition: all .7s ease-in-out;
    @include tablet {
        display: none;
    }
}
.header__hamburger:after {
    content: '';
    position: absolute;
    border: inherit;
    top: .2em;
    left: 0;
    width: 3em;
    height: .3em;
}
.header__hamburger:before {
    content: '';
    position: absolute;
    border: inherit;
    top: .6em;
    left: 0;
    width: 3em;
    height: .3em;
}

.header__nav.active {
    position: relative;
    .header__hamburger {
        position: fixed;
        right: 0;
        border: none;
    }
    .header__hamburger:after {
       background: white;
       height: 3px;
       top: 0;
       transform: rotate(45deg);
       transition: all .7s ease-in-out;
    }
    .header__hamburger:before{
        background: white;
        height: 3px;
        top: 0;
        transform: rotate(-45deg);
        transition: all .7s ease-in-out;
    }
    .header__menu {
        width: 100%;
        position: fixed;
        text-align: center;
        top: 0em;
        visibility: visible;
        overflow-y: auto;
        background: #333;
        overflow: hidden;
        height: 100vh;
        @include tablet {
            display: none;
        }
        .menu__list {
            width: 100%;
            padding: 1em 0 2.5em;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .menu__list:hover {
            background: #555;
            transition: background .3s ease-in-out;
            z-index: -1;
        }
        .menu__item {
            position: absolute;
            width: inherit;
            padding-top: inherit;
            padding-bottom: 1em;
            left: 0;
            top: 0;
            font-size: 1.5em;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}
.scrollTopButton {
    position: fixed;
    border: 4px solid #e98818;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 3vw;
    bottom: 5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 1s ease-in-out;
    cursor: pointer;
    @include tablet {
        display: none !important;
    }
}
.scrollTopButton::before {
    content: '>';
    position: absolute;
    font-size: 3em;
    color: #e98818;
    font-weight: bold;
    right: 0;
    top: -.15em;
    margin-bottom: .1em;
    margin-right: .13em;
    transform: rotate(-89deg)
}

.header__nav.navFixed {
    @include tablet {
        padding: 0;
        position: fixed;
        box-shadow: 2px 2px 2px black;
    }
}