.header {
    .header__nav {
        width: 100%;
        background: #333;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
        @include tablet {
            padding: 0;
            justify-content: space-around;
        }
    }
    .header__logo {
        color: #FFFFFF;
        font-size: 1.5em;
        margin-left: 1em;
        cursor: pointer;
    }
    .header__menu {
        display: none;
        @include tablet {
            display: flex;
            .menu__list {
                padding: 1em .8em;
                margin: 0 0;
                cursor: pointer;
            }
            .menu__list:hover {
                background: #555;
                transition: background .3s ease-in-out;
            }
            .menu__item {
                color: #FFFFFF;
                text-decoration: none;
                font-size: 1.5em;
            }
        }
    }
}
.header__hamburger {
    border-top: 3px;
    border-style: solid;
    border-color: white;
    margin-right: 1em;
    padding: .5em 1.5em;
    position: relative;
    cursor: pointer;
    @include tablet {
        display: none;
    }
}
.header__hamburger:after {
    content: '';
    position: absolute;
    border: inherit;
    top: .2em;
    left: 0;
    width: 3em;
    height: .3em;
}
.header__hamburger:before {
    content: '';
    position: absolute;
    border: inherit;
    top: .6em;
    left: 0;
    width: 3em;
    height: .3em;
}